# Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Virtual environments
.env
.venv/
venv/

# Django
*.log
db.sqlite3
media/
staticfiles/

# Testing
.coverage
htmlcov/
.pytest_cache/
.mypy_cache/

# IDE
.idea/
.vscode/
*.swp

# OS
.DS_Store

# Secrets
.env
!.env.example
